@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-siliguri: var(--font-hind-siliguri);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-siliguri), sans-serif;
}

@layer utilities {
  .bg-hero {
    background-image:
      linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
      url("/media/header-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
